@page
@using Elsa.Models;
@using Microsoft.Extensions.Localization
@using W2.Localization
@inject IStringLocalizer<W2Resource> L

@model W2.Web.Pages.WorkflowInstances.IndexModel

@{
}

@section scripts
{
    <abp-script src="/Pages/WorkflowInstances/Index.js" />
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Menu:WorkflowManagement:WorkflowInstances"]</abp-card-title>
            </abp-column>
        </abp-row>
        <abp-row class="mt-2">
            <abp-column size="_2" class="d-flex align-items-center">
                <label for="input_workflowDefinitionId">Type:</label>
                <select class="form-select ms-2" name="WorkflowDefinitionId" id="input_workflowDefinitionId">
                    <option value="" selected>All</option>
                    @foreach (var workflowDefinition in @Model.WorkflowSelectListItems)
                    {
                        <option value="@workflowDefinition.Value">@workflowDefinition.Text</option>
                    }
                </select>
            </abp-column>
            <abp-column size="_2" class="d-flex align-items-center">
                <label for="input_status">Status:</label>
                <select class="form-select ms-2" name="Status" id="input_status">
                    <option value="" selected>All</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                    @foreach (WorkflowStatus status in Enum.GetValues(typeof(WorkflowStatus)))
                    {
                        <option value="@status">@(status == WorkflowStatus.Suspended ? "Pending" : status)</option>
                    }
                </select>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table id="WorkflowInstancesTable" striped-rows="true" />
    </abp-card-body>
</abp-card>
