@page
@using Microsoft.AspNetCore.Mvc.Localization
@using W2.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using W2.WorkflowDefinitions
@using W2.Web.Pages.WorkflowDefinitions
@model NewWorkflowInstanceModalModel
@{
    Layout = null;
    var countProperties = Model.PropertyDefinitionViewModels.Count;
}

<form method="post" asp-page="/WorkflowDefinitions/NewWorkflowInstanceModal"
    data-check-form-on-close="false"
    onsubmit="return validate()">
    <abp-modal size="Large">
        <abp-modal-header title="New Request"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="WorkflowDefinitionId" type="hidden" />
            @for (int i = 0; i < countProperties; i++)
            {
                var propertyDefinition = Model.PropertyDefinitionViewModels[i];
                var inputName = $"WorkflowInput[{propertyDefinition.Name}]";
                var inputId = $"input_{propertyDefinition.Name}";
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="@inputName">@propertyDefinition.Name</label>
                            @switch (propertyDefinition.Type)
                            {
                                case WorkflowInputDefinitionProperyType.Text:
                                    <input id="@inputId" name="@inputName" 
                                        type="text" class="form-control" value="@Model.WorkflowInput[propertyDefinition.Name]" />
                                    break;
                                case WorkflowInputDefinitionProperyType.Numeric:
                                    <input id="@inputId" name="@inputName" 
                                        type="number" class="form-control" value="@Model.WorkflowInput[propertyDefinition.Name]" />
                                    break;
                                case WorkflowInputDefinitionProperyType.DateTime: 
                                    <input id="@inputId" name="@inputName" 
                                        type="text" class="form-control" value="@Model.WorkflowInput[propertyDefinition.Name]"
                                        readonly style="cursor: pointer"/>
                                    <script>
                                        {
                                            $('#@inputId').datepicker({
                                                format: 'dd/mm/yyyy'
                                            });
                                        }
                                    </script>
                                    break;
                                case WorkflowInputDefinitionProperyType.RichText:
                                    <textarea id="@inputId" name="@inputName" hidden="hidden"></textarea>
                                    <div id="container_@propertyDefinition.Name" style="height:200px;"></div>
                                    <script>
                                        {
                                            const editor = new Quill('#container_@propertyDefinition.Name', {
                                                modules: {
                                                    toolbar: [
                                                        [{ 'font': [] }],
                                                        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                                                        ['bold', 'italic', 'underline', 'strike'],
                                                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                                                        ['image', 'code-block']
                                                    ]
                                                },
                                                theme: 'snow'
                                            });
                                            editor.on('text-change', function() {
                                                $('#@inputId').val(editor.root.innerHTML);
                                            });

                                            if ("@Model.WorkflowDefinition.Name" == "Device Request") {
                                                editor.setContents([
                                                    { insert: 'Văn phòng đang làm việc', attributes: { bold: true } },
                                                    { insert: ': @(Html.Raw(Model.CurrentOffice?.DisplayName)) \n' },
                                                    { insert: 'Dự án', attributes: { bold: true } },
                                                    { insert: ': [@(Html.Raw(Model.CurrentProject?.Code))] @(Html.Raw(Model.CurrentProject?.Name))\n' },
                                                    { insert: 'PM', attributes: { bold: true } },
                                                    { insert: ': @(Html.Raw(Model.CurrentProject?.PM?.FullName))\n' },
                                                    { insert: 'Thiết bị cần request', attributes: { bold: true } },
                                                    { insert: ': \n' },
                                                    { insert: 'Lý do', attributes: { bold: true } },
                                                    { insert: ': \n' },
                                                ])
                                            }

                                            if ("@Model.WorkflowDefinition.Name" == "WFH Request") {
                                                editor.setContents([
                                                    { insert: 'Văn phòng đang làm việc', attributes: { bold: true } },
                                                    { insert: ': @(Html.Raw(Model.CurrentOffice?.DisplayName)) \n' },
                                                    { insert: 'Dự án', attributes: { bold: true } },
                                                    { insert: ': [@(Html.Raw(Model.CurrentProject?.Code))] @(Html.Raw(Model.CurrentProject?.Name))\n' },
                                                    { insert: 'PM', attributes: { bold: true } },
                                                    { insert: ': @(Html.Raw(Model.CurrentProject?.PM?.FullName))\n' },
                                                    { insert: 'WFH các ngày', attributes: { bold: true } },
                                                    { insert: ': \n' },
                                                    { insert: 'Lý do', attributes: { bold: true } },
                                                    { insert: ': \n' },
                                                ])
                                            }
                                        }
                                    </script>
                                    break;
                                case WorkflowInputDefinitionProperyType.UserList:
                                    <select id="@inputId" name="@inputName" style="width:100%;">
                                        @foreach(var item in Model.UserSelectListItems)
                                        {
                                            <option value="@item.Value">@item.Text (@item.Value)</option>
                                        }
                                    </select>
                                    <script type="text/javascript">
                                    {
                                        $('#@inputId').select2({
                                            dropdownParent: $('#@inputId').parent()
                                        });
                                    }
                                    </script>
                                    break;
                                case WorkflowInputDefinitionProperyType.MyProject:
                                case WorkflowInputDefinitionProperyType.MyPMProject:
                                    <select id="@inputId" name="@inputName" style="width:100%;">
                                        @foreach(var item in Model.ProjectSelectListItems)
                                        {
                                            <option value="@item.Text" selected="@item.Selected">@item.Text (@item.Text)</option>
                                        }
                                    </select>
                                    <script type="text/javascript">
                                    {
                                        $('#@inputId').select2({
                                            dropdownParent: $('#@inputId').parent()
                                        });
                                    }
                                    </script>
                                    break;
                                case WorkflowInputDefinitionProperyType.OfficeList:
                                    <select id="@inputId" name="@inputName" style="width:100%;">
                                        @foreach(var item in Model.OfficeSelectListItems)
                                        {
                                            <option value="@item.Text" selected="@(item.Selected && propertyDefinition.Name == "CurrentOffice")">@item.Text</option>
                                        }
                                    </select>
                                    <script type="text/javascript">
                                    {
                                        $('#@inputId').select2({
                                            dropdownParent: $('#@inputId').parent()
                                        });
                                    }
                                    </script>
                                    break;
                            }
                        </div>
                    </div>
                </div>
            }
            <abp-validation-summary></abp-validation-summary>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<script type="text/javascript">
function validate() {
    validated = true;
    $("abp-validation-summary").text("");
    $("[id^=input_]").each(function(index, self ) {
        if (!$(self).val()) {
            validated = false;
            $("abp-validation-summary").text("Please fill in all fields");
        }
    })
    return validated;
}
</script>
